<% provide(:title, 'SearchResult') %>

<div class="page-header">
  <h3>検索結果 <small><%= @events.total_count %>件</small></h3>
</div>

<section id="events">
<% @events.each do |event| %>
  <article id="event_<%= event.id %>">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4>
          <%= event.title %>
          <% if event.cheki_events.empty? %>
            <a class="btn" name="stock_link" href="#">
              <i class="fa fa-plus-circle fa-lg fa-fw"></i>
            </a>
          <% else %>
            <%= content_tag(:span, "ストック済", class: "label label-success") %>
          <% end %>
        </h4>
      </div>
      <div class="panel-body">
        <!-- <p>[タグ]  -->
        <p>[タグ] <%= event.label_tags %></p>
        <p>[日時] <%= event.open_date %></p>
        <p>[住所] <%= event.str_address %></p>
        <p>[場所] <%= event.place %></p>
        <p>[リンク] <%= event.link_to_website %></p>
      </div>
    </div>
  </article>
<% end %>
</section>

<div class="text-center">
  <%= paginate @events %>
</div>

<!-- Modal -->
<div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">確認</h4>
      </div>
      <div class="modal-body">ストックしますか？</div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">閉じる</button>
        <a class="btn btn-primary" id="stock_exec" href="#">ストックする</a>
      </div>
    </div>
  </div>
</div>
