<div class="page-header">
  <h3>検索結果 <small>9999999件</small></h3>
</div>

<div class="container">
  <% @events.each do |event| %>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4>
          <%= event.title %>
        </h4>
      </div>
      <div class="panel-body">
        <p>[タグ]
          <% event.tag.split(",").each do |t| %>
            <span class="label label-default"><%= t %></span>
          <% end %>
        </p>
        <p>[概要]<%= event.description %></p>
        <p>[日時] <%= event.from_date %> - <%= event.to_date %></p>
        <p>[場所] <%= event.place %></p>
        <p>[リンク] <a href="<%= event.link %>"><%= event.link %></a></p>
      </div>
    </div>
  <% end %>

  <%= paginate @events%>  
</div>
