<% provide(:title, 'ChekiList') %>

<div class="alert-fade alert-success spacer15">
  更新が完了しました
</div>

<div class="alert-fade alert-danger spacer15">
  更新に失敗しました。<br>時間を少しおいてからリトライしてください。
</div>

<div class="page-header">
  <h3>ちぇきリスト <small>なにかしらチェックした勉強会の一覧 (<%= @cheki_events_count %>件)</small></h3>
</div>

<% @cheki_events.each do |cheki_event| %>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4>
        <%= cheki_event.event.title %>
        <%= cheki_event.select_tag_cheki_status %>
        <div class="pull-right">
          <a class="btn" name="del_link" id="<%= cheki_event.id %>" href="#">
            <i class="fa fa-times-circle fa-lg fa-fw"></i>
          </a>
        </div>
      </h4>
    </div>
    <div class="panel-body">
      <p>[タグ] <%= cheki_event.event.label_tags %></p>
      <p>[日時] <%= cheki_event.event.open_date %></p>
      <p>[場所] <%= cheki_event.event.place %></p>
      <p>[リンク] <%= cheki_event.event.link_to_website %></p>
    </div>
  </div>
<% end %>

<div class="text-center">
  <%= paginate @cheki_events%>
</div>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">確認</h4>
      </div>
      <div class="modal-body">削除してよろしいですか？</div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">閉じる</button>
        <a class="btn btn-primary" id="del_exec" href="#">削除する</a>
      </div>
    </div>
  </div>
</div>
