<% provide(:title, 'ChekiList') %>

<div class="alert-fade alert-success spacer15">
  更新が完了しました
</div>

<div class="alert-fade alert-danger spacer15">
  更新に失敗しました。<br>時間を少しおいてからリトライしてください。
</div>

<div class="page-header">
  <h3>ストックリスト <small><%= @cheki_events.total_count %>件</small></h3>
</div>

<section id="cheki_events">
<% @cheki_events.each do |cheki_event| %>
  <% event = cheki_event.ref_event @events %>
  <article id="cheki_event_<%= cheki_event.id %>">
    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="pull-right">
          <a class="btn" name="del_link" href="#">
            <i class="fa fa-times-circle fa-lg fa-fw"></i>
          </a>
        </div>
        <h4>
          <%= event.title %>
        </h4>
      </div>
      <div class="panel-body">
        <!-- <%= cheki_event.select_tag_cheki_status %> -->
        <p>[タグ] <%= event.label_tags %></p>
        <p>[日時] <%= event.open_date %></p>
        <p>[場所] <%= event.place %></p>
        <p>[リンク] <%= event.link_to_website %></p>
      </div>
    </div>
  </article>
<% end %>
</section>

<div class="text-center">
  <%= paginate @cheki_events %>
</div>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">確認</h4>
      </div>
      <div class="modal-body">削除してよろしいですか？</div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">閉じる</button>
        <a class="btn btn-primary" id="del_exec" href="#">削除する</a>
      </div>
    </div>
  </div>
</div>
