<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <%= stylesheet_link_tag "application", media: "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <!-- プロジェクトの中に持ったほうが綺麗な気がする -->
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
  </head>
  <body>
    <%= render "layouts/nav" %>

    <div class="container">
      <% flash.each do |status, msg| %>
        <%= content_tag(:div, msg, class: "alert alert-#{status}") %>
      <% end %>

      <%= yield %>
    </div>

    <%= render "layouts/footer" %>

    <%= debug(params) if Rails.env.development? %>
  </body>
</html>
